:root{
    --base : #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body{
    text-align: center;
    background-color: #193549;
    color: white;
    font-weight: 100;
    font-size: 50px;
}

.controls{
    margin-bottom: 50px;
}

.input{
    width: 100px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));

    width: 50rem;
    height: 35rem;
}

.hi{
    color: var(--base);
}